html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Main Stying Goes From Here */

body
{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
}

/* Low Opacity Background for Navigation */

nav
{
    width: 100%;
    height: 100px;
    background-color: rgba(250, 112, 0, 0.1) ;
}

/* For Head 'Club Ruet' */

nav h1 a
{
    font-size: 50px;
    text-decoration: none;
    color:#471d07;
    line-height: 100px;
    float: left; 
}

/* For Taking the Navigations in the Right Corner withour Head */

nav ul
{
    float: right;
}

/* For Navigation Lists i.e. Home,Clubs,etc. */

nav ul li
{
    list-style: none;
    display:inline-block;
    float:left;
    line-height: 100px;
    color:#471d07;
    position: relative;
}

/* For Anchor Tags in the Lists of UL in the Navigation */

nav ul li a
{
    display: block;
    text-decoration: none;
    padding: 0px 25px;
    color: #471d07;
}

/* Hovering the Links with Darker Color */

nav ul li a:hover
{
    color: #241A40;
}

/* For 'Clubs' Named UL Which Hides the List */

nav ul li ul
{
    display: none;
    position: absolute;
    background-color: rgba(70,0,160,0.03);
    padding: 0px;
    left: -7%;
}

/* After Clicking 'Clubs' Clubs Are Displayed in Blocks */

nav ul li:hover ul 
{
    display: block;
    position: absolute;
    background-color: rgba(70,0,260,0.03);
    padding: 0px;
}

/* For the Background Block Width of the Lists of 'Clubs' */

nav ul li ul li
{
    width: 100px;
}

/* For Padding the Clubs' Links in the List Correctly */

nav ul li ul li a
{
    padding: 0px 30px;
}

/* Hovering the Clubs' Links with Darker Background Color  */

nav ul li ul li a:hover
{
    color: #0E2C40;
    background-color: rgba(10,150,960,0.1);
}

section
{
    width: 100%;
    height: 100vh;
    background: url(PSR_HOME.png);
    background-size: cover;
}

section .leftbox
{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
    
}

section .leftbox .content
{
    color: white;
    background: #471d07;
    padding: 40px;
    transition: 2s;
}

section .leftbox .content:hover
{
    background: rgba(250, 112, 0, 0.5);
}

section .leftbox .content h1
{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

section .leftbox .content p
{
    margin: 10px 0 0;
    padding: 0;
    font-weight: 300;
}

section .leftbox .content a
{
    text-decoration: none;
    color: #fff;
}
section .events
{
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0,0.0);
    float: right;
    box-sizing: border-box;
}
section .events ul
{
    position: relative;
    top: 55.5%;
    transform: translateY(-50%);
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
}

section .events ul li
{
    list-style: none;
    background: rgba(250, 112, 0, 0.1);
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}

section .events ul li .time
{
    position: relative;
    padding: 20px;
    background: #471d07;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: 2s;
}

section .events ul li:hover .time
{
    background: rgba(250, 112, 0, 0.5);
}

section .events ul li .time h2
{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

section .events ul li .details
{
    padding: 20px;
    background: rgba(250, 112, 0, 0.1);
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}

section .events ul li .details h3
{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #471d07;
    font-weight: 500;
    text-transform: uppercase;
}

section .events ul li .details p
{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    color:#471d07;
    font-weight: 300;
}

section .events ul li .details a
{
    display: inline-block;
    text-decoration: none;
    padding: 5px 5px;
    border: 2px solid rgba(250, 112, 0, 0.5);
    margin-top: 8px;
    font-size: 15px;
    transition: 2s;
    color: #fff;
    background: #471d07;
}

section .events ul li .details a:hover
{
    background: rgba(250, 112, 0, 0.5);
    color: #fff;
    border-color: rgba(250, 112, 0, 0.5);
}
